body {
  background-color: #176B87;
  margin: 0; 
  padding: 0; 
}



.loginall{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    
    border-radius: 5mm;
    background-color:#EEF5FF;
      color:#176B87;
      margin-top: 5%;
      margin-left: 35%;
      margin-right: 35%;
      padding-bottom: 5%;
      padding-top: 3%;
      position: relative;
}
.luser{
     background-color:#EEF5FF;
  
   
    margin-top: 40px;
    border-radius: 5mm;
    padding: 10px;
    margin-left: 10px;
    padding-right: 50px;
    border: solid #176B87;
}
.lpass{
    background-color:#EEF5FF;
    margin-left: 20px;
    border-radius: 0%;
    padding: 10px;
    padding-right: 50px;
    border: solid #176B87;
    border-radius: 5mm;
}

.subbutton {
  color: #EEF5FF;
  font-size: 20px;
  background-color: #176B87;
  padding: 10px 18px;
  border: 0;
  margin-top: 40px;
}

  .log{
    background-color:#EEF5FF;
    color:#176B87;
      margin-left: 0px;
    margin-right: x;
     font-size: 50px;
     margin-top:10 px;
   
  }

  .username{
    
    background-color:#EEF5FF;
    font-size: 20px;
    
  }
  .password{
    background-color:#EEF5FF;
    font-size: 20px;
  }
  .loglink{
    padding-left: 10px;
    color:red;
    background-color: white;
    font-size: 20px;
   
  }
  .emsg{
    background-color: #EEF5FF;
    color: red;
    font-size: 20px;
    margin-left: 25px;
   margin-right: 25px;
  } 